/* Set deck-specific colours */
:root {
	--deck-button-active-colour: #a56961;
	--deck-card-text-colour: #555555;
}

/* Display the deck or marketplace as a grid of cards */
.deck, #deck-community {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	box-sizing: border-box;
}

/* Add border to the cards for better UI/UX */
.card {
	border: 1px solid var(--main-border-colour);
}

/* I totally didn't cop this from somewhere I don't even remember */
.card-button-edit {
	color: var(--main-background-colour);
	background-color: var(--main-accent-colour);
	border-color: var(--deck-button-active-colour);

	margin-top: 12px;
	margin-bottom: 12px;

	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	-webkit-user-select: none;
	background-image: none;
	border: 2px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	touch-action: manipulation;
}

.card-button-edit:hover {
	color: var(--main-background-colour);
	background-color: var(--deck-button-active-colour);
	border-color: var(--deck-button-active-colour);
}

.card-button-edit:active {
	border-color: var(--main-accent-colour);
	background-color: var(--deck-button-active-colour);
}

/* Some buttons, like the start button may require large text*/
.large-button-text {
	font-size: 32px;
	border: 6px solid transparent;
	border-radius: 12px;
}

/* TF is this??? */
button {
	text-transform: visible;
	overflow: visible;
	-webkit-appearance: button;
}

/* Make small buttons smaller */
.small-button {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

main {
	width: 100%;
}

/* Configure unordered lists to be left-aligned with some padding and deciman numbers */
ol {
	list-style: none;
	text-align: left;
	padding-right: 40px;
}

ol li {
	padding-top: 0.25rem;
	text-decoration: default;
	list-style-type: decimal;
}

/* override the style of main.css specifically for the deck page, since it doesn't look good with a border */
.header-deck {
	border: 0px;
}

#new-card-header {
	font-size: 7.5rem;
	color: var(--deck-card-text-colour);
}

.phrase-card-header {
	font-size: 2.25rem;
	color: var(--deck-card-text-colour);
}

/* Hide the default file upload widget */
#fileupload {
	display: block;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* Make the input mode container a flexbox */
/*
#input-mode {
	padding: 0;
	margin: auto;
	overflow: hidden;
	float: left;
	position: relative;
	display: flex;
	align-items: center;
	max-width: 35%;
	justify-content: center;
}

#input-mode p {
	margin-right: 6px;
}*/

#input-mode {
	width: fit-content;
	padding: 0;
	margin: auto;
	overflow: hidden;
}

#input-mode * {
	float: left;
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 1em;
}

* {
	font-family: 'Ubuntu', sans-serif;
}

/* Configure input text fields to be border boxes */
input[type=text]::before, input[type=text]::after, input[type=text] {
	box-sizing: border-box;
}

/* Configure input text fields to follow our style */
input[type=text] {
	font-size: 16px;
	font-family: inherit;
	padding: 4 0 0 0;
	background-color: var(--main-background-colour);
	border: 1px solid var(--main-accent-colour);
	border-radius: 4px;
}

/* This is for dividing the deck edit card input mode into a simple grid*/
#input-mode-internal {
	display: grid;
	gap: 0;
	grid-template-columns: 1fr 1fr;
	padding: 0;
	margin-top: 1em;
	box-sizing: border-box;
}

/* Do not configure margin because yes */
#input-mode-internal div {
	margin: auto;
	margin-top: 0;
}

#input-mode-internal input[type=radio] {
	margin-top: 0;
}
