h1, h2, h3, p, li {
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none;
	color: #c87e74;
}

ul, footer {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

ul {
	height: var(--bar-height, height);
}

ul li, footer {
	float: left;
	position: relative;
	display: flex;
	align-items: center;
}

ul li a {
	display: block;
	color: #c87e74;
	text-align: center;
	padding: 0 24px 0 24px;
	text-decoration: none;
	font-size: 32px;
	line-height: 1.5;
}

#main-page {
	display: grid;
	gap: 1rem;
	grid-template-columns: 25% 75%;
	grid-auto-rows: 100%;
}

#character-target-div {
	border: 2px solid #CCC;
	min-width: 260px;
}

/* This may cause problems, check out main-page.js on top of the definition of the "getDrawElementHeight" function */
@media (orientation: portrait) {
	#main-page {
		display: block;
	}
}

footer p, footer select {
	padding: 0 0.33rem 0 0.33rem;
	font-size: 18px;
	color: #000000;
	height: var(--footer-height, height);
}

select {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	max-width: max-content;
	resize: horizontal;
}

option {
	display: flex;
	min-width: 0;
	flex-direction: row;
	border-color: red;
	box-sizing: border-box;
}

#character-info-widget p {
	margin-top: 3px;
	margin-bottom: 3px;
}

#site-title {
	color: #000000;
}

#err-404-emoji {
	font-size: 18vw;
}

.centered {
	text-align: center;
}
