<footer class="centered">
	<p>
		{{ _ footer {{ raw <a href="https://madladsquad.com/">MadLad Squad</a>}} }}
	</p>
	<select aria-label="Language select box" name="lang" id="lang-select" class="centered">
		<option value="en_US">🇬🇧   EN</option>
		<option value="bg_BG">🇧🇬   BG</option>
		<option value="zh_CN">🇨🇳   CN</option>
		<option value="zh_TW">🇹🇼   CN-T</option>
		<option value="de_DE">🇩🇪   DE</option>
		<option value="mk_MK">🇲🇰   MK</option>
		<option value="ru_RU">🇷🇺   RU</option>
		<option value="jp_JP">🇯🇵   JP</option>
	</select>
</footer>
<script src="./{{ _ locale }}i18n.js"></script>
<script src="./{{ _ locale }}index.js"></script>
