<footer class="centered">
    <p>
        {{ _ footer {{ raw <a href="https://madladsquad.com/">MadLadSquad</a>}} }}
    </p>
    <button type="button" id="lang-select" class="centered list-select-button" aria-haspopup="dialog" aria-expanded="false"></button>
    <button type="button" id="theme-button" class="centered list-select-button" aria-haspopup="dialog" aria-expanded="false">🎨 {{ _ theme_button }}</button>
</footer>
<script src="./{{ _ locale }}i18n.js"></script>
<script src="./{{ _ locale }}select-box.js"></script>
<script src="./{{ _ locale }}theme-selector.js"></script>
<script src="./{{ _ locale }}emoji.js"></script>
<script src="./{{ _ locale }}char-loading-ui.js"></script>
<script src="./{{ _ locale }}index.js"></script>
<script src="./{{ _ locale }}daily-streak.js"></script>
