<footer class="centered">
	<p>
		A <a href="https://madladsquad.com/">MadLad Squad</a> project!
	</p>
	<select aria-label="Language select box" name="lang" id="lang-select" class="centered" onchange="modifySelectedLanguage()">
		<option value="0">🇬🇧   EN</option>
		<option value="1">🇧🇬   BG</option>
		<option value="2">🇨🇳   CN</option>
		<option value="3">🇹🇼   CN-T</option>
		<option value="4">🇩🇪   DE</option>
		<option value="5">🇲🇰   MK</option>
		<option value="6">🇷🇺   RU</option>
		<option value="7">🇯🇵   JP</option>
	</select>
</footer>
<script src="./index.js"></script>
