<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Learn how to write and read Chinese characters and other writing systems in a fun and easy way">
<meta name="keywords" content="Youyin, MadLad Squad, writing systems, Chinese Characters, Japanese Kana, Latin, Cyrillic, Georgian, Armenian, Greek, Arabic, Hindi, 
	alphabets, language learning, handwriting training, language education, writing practice, character recognition, handwriting recognition, calligraphy, language instruction, 
	multilingual, writing skills, characters, alphabets, scripts, writing systems, language learning, handwriting analysis, handwriting assessment, handwriting evaluation, 
	handwriting improvement, handwriting recognition, handwriting analysis, handwriting assessment, handwriting evaluation, handwriting improvement, handwriting recognition, 
	handwriting analysis, handwriting assessment, handwriting evaluation, handwriting improvement, handwriting recognition, handwriting analysis, handwriting assessment, 
	handwriting evaluation, handwriting improvement, 诱因, 卣囙, 油印, Yǒuyīn, amongus, amogus, Chinese, Cantonese, Mandarin, Shanghainese, Flashcards, Hanzi, Kanji, Hanja, 
	Hangul, Katakana, Hiragana, hanzi, kanji, hanja, hangul, katakana, hiragana">
<meta name="author" content="MadLad Squad">

<link rel="icon" type="image/png" href="./favicon-new.png">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./main.css" type="text/css">
